*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 1px 1px 10px 10px rgba(158,158,158,0.79);
    z-index: 99;
}

.nav-sx{
    display: flex;
}

nav ul{
    display: flex;
    list-style: none;
}

ul li{
    margin: 8px;
}

li a{
    color: black;
    text-decoration: none;
}

.nav-sx, .nav-dx{
    margin: 2px 10px;
}

.btn{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    white-space: nowrap;
}

header{
    background-color: rgb(180, 208, 231);
}

header h1{
    padding-top: 10rem;
}

.container-header{
    display: flex;
    justify-content: center;
    flex: 1 1 1200px;
}

.content-header{
    max-width: 400px;
}

.img-header{
    max-width: 800px;
    position: relative;
    bottom: -70px;
}

.img-header img{
    width: 100%;
}

header h1{
    text-align: center;
    margin: 20px auto;
    width: 1200px;
    font-size: 80px;
}

.content-header p{
    margin: 4rem 0;
}

.icon-header{
    font-size: 50px;
}

.container{
    max-width: 900px;
    margin: 10rem auto;
}

.container h2{
    font-size: 40px;
}

input{
    margin: 60px 0;
}

label{
    margin-right: 40px;
}

.container-flex{
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin: 5rem auto;
}

.col{
    border: 1px solid lightgray;
    max-width: 30%;
}

.type{
    text-align: center;
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding: 5px 0;
}

.col h3{
    padding: 3rem 1rem;
}

.price{
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
}
.time{
    color:gray;
    margin: 5px 10px 15px;
}

.info{
    padding: 2rem 1rem;
    display: flex;
}

.check-point{
    display: flex;
}

.check{
    color: #0093CE;
}

.content-col{
    padding: 1em;
}

.col .btn{
    display: block;
    width: fit-content;
    margin: auto;
}

.col ul{
    list-style: none;
}

.col h4{
    margin: 40px 10px;
}

.col li{
    margin: 30px 10px;
}

.bordered{
    border: 1px solid lightgray;
    margin-bottom: 80px;
}

.inline{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.bold{
    font-weight: bold;
    margin: 20px;
}

.img-container img{
    width: 600px;
    margin-right: 40px;
}

.content h2{
    margin: 30px 0;
}

.white{
    display: block;
    width: fit-content;
    margin: auto;
    color: black;
    background-color: white;
    border: 1px solid black;
    margin-top: 40px;
}

.wrap{
    flex-wrap: wrap;
}

.block{
    width:25%;
    margin: 2rem;
}

.block img{
    width: 100%;
}

.block p{
    margin-top: 20px;
}

.link{
    display: block;
    margin: 50px 0;
}

.container-xl{
    width: 100%;
    display: flex;
}
.sponsor{
    max-width: calc(100%/3);
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 50%;
    height: 50%;
    padding: 50px;
}

.square img{
    width: 100%;
    filter: invert(100%);
}

.company{
    max-width: calc(100%/3);
    background-color: #F5F5F5;
    padding: 60px;
    overflow-y: scroll;
}

.company img{
    width: 80%;
}

.first{
    background-color: #A2D39B;
}

.second{
    background-color: #61082B;
}

.third{
    background-color: #0093CE;
}


.fourth{
    background-color: #FF1C1C;
}


.fifth{
    background-color: #D5001F;
}


.sixth{
    background-color: #B4D0E7;
}

.seventh{
    background-color: #0D2481;
}


.eight{
    background-color: #FFD830;
}

.background-blue{
    background-color: #B4D0E7;
    display: flex;
}

.colored{
    color: #61082B;
    font-size: 40px;
    margin-right: 300px;
}

.blue-box{
    align-self: center;
    padding: 100px 0;
}

.no-border{
    border: none;
}

.faq h2{
    margin: 100px 0;
}

.faq hr{
    margin: 50px 0;
}

.question{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.question p{
    display: none;
    width: 100%;
}

footer{
    background-color: black;
    width: 100%;
}

.container-footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.col-footer{
    max-width: calc(100%/5-2rem);
    padding: 3rem 0;
}

.col-footer ul{
    list-style: none;
}

.col-footer li a{
    color: white;
}

.col-footer h5{
    color: white;
    font-size: 25px;
}

.btn:hover{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

nav a:hover{
    text-decoration: underline;
}

.question h4:hover ~ p{
    display: block;
}

.question h4:hover{
    opacity: 0;
    transition: 5s;
}
